<html>
    <head>
        <title>Take a Bike</title>
        <!--
            Take a Bike Landing Page
            Filename:   index.html

            Authors:    Alexandra Hanson
            Updated:    04/13/2019
        -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link href="https://fonts.googleapis.com/css?family=Alegreya|Questrial" rel="stylesheet">
        <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            <h1>TAKE A BIKE!</h1>
            <form method="post" action="{{ url_for('submitted_form') }}">
                Start:
                <input type="text" id="origin" name="origin">
                <br><br>
                Destination:
                <input type="text" id="destination" name="destination">
                <br><br>
                <input type="button" name="btnSubmit" id="btnSubmit" value="Calculate Route"/>
                <br><br>
            </form>
        </div>
    </body>
</html>