<html>
    <head>
        <title>Take a Bike</title>
        <!--
            Take a Bike Landing Page
            Filename:   index.html

            Authors:    Alexandra Hanson
            Updated:    04/13/2019
        -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link href="https://fonts.googleapis.com/css?family=Alegreya|Questrial" rel="stylesheet">
        <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            <a href="../static/bike_clip_art.gif" target="_blank"><img class="bike_art" src="../static/bike_clip_art.gif" width="250" height="137" alt="A bike clip art" /></a>
            <h1>TAKE A BIKE!</h1>
            <form method="post" action="{{ url_for('calculateRoute') }}">
                <h2>Starting Location:</h2>
                <input type="text" id="origin" name="origin"><br>
                <h2>Destination:</h2>
                <input type="text" id="destination" name="destination">
                <br><br>
                <input type="submit" name="userSub" id="userSub" value="Calculate Route"/>
            </form>
        </div>
    </body>
</html>